# Environments
.env
.env.local
.env.*.local
supabase/functions/.env

# Dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db

# Optional: Supabase CLI local state (if you initialized supabase locally)
supabase/.temp/
supabase/.branches/

#final